<Import service="app"/>

<AssetsGroup prepend>
  <Style src="lib/bootstrap/dist/css/bootstrap.min.css"/>
  <Style src="lib/font-awesome/css/font-awesome.min.css"/>
  <Style src="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  <Style src="modules/selenia/platform/css/custom.min.css"/>

  <Script src="lib/jquery/dist/jquery.min.js"/>
  <Script src="lib/bootstrap/dist/js/bootstrap.min.js"/>
  <Script src="modules/selenia/platform/js/custom.js"/>
</AssetsGroup>

<Style src="modules/selenia/platform/dist/main.css"/>
<Script src="modules/selenia/platform/js/main.js"/>

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{pageTitle}</title>
    <base href="{app.baseURI}/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href={app.favicon}>
    <Include styles/>
  </head>

  {#master|*}
</html>
